.contato{  
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.contato-informacao{
  margin: auto;
  margin-bottom: 80px;
}

.contato-informacao i{
  color: var(--bg-8);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  transition: .5s;
}

.contato-informacao i:hover{
  scale: 1.1;
  color: var(--bg-9);
}