.habilidades {
  max-width: 1200px;
  margin: auto;
}

.habilidades-titulo {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: var(--tp-1);
  margin-bottom: 40px;
  text-transform: uppercase;
}

.habilidades-logos {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.habilidades-logos i {
  background-color: var(--bg-2-3);
  border: 5px solid var(--bg-3);
  border-radius: 5px;
  color: var(--bg-5);
  padding: 20px 20px;
  transition: 0.75s;
}
.habilidades-logos i:hover {
  scale: 1.1;
  color: var(--bg-7);
}
