.header-bg{
  background-color: #31024A;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-nav{
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.header-nav a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 16px 0px;
}

.header-nav a span{
  color: rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.header-nav a:hover .dec{
  color: #fff;
}

#modos{
  box-sizing: border-box;
  transition: 1s
}

#modos:hover{
  margin-left: 4px;
  rotate: 0 0 1 90deg;
  scale: 1.2;
}

