/* cores light-mode */
.light-mode:root {
  /* background */
  --bg-1: #f7f7f7;
  --bg-2: #f7f7f7;
  --bg-2-3: #e6e6e6;
  --bg-3: #bfbfbf;
  --bg-4: #620495;
  --bg-5: #7605b3;
  --bg-8: #00b256;
  --bg-9: #00994a;

  /* tipografia */
  --tp-branco: #fff;
  --tp-1: #191919;
  --tp-2: #e6e6e6;
  --tp-3: #656565;
  --tp-4: #31024a;
  --tp-5: #bfbfbf;
}

/* cores dark-mode */
:root {
  /* background */
  --bg-1: #000;
  --bg-2: #1a1a1a;
  --bg-2-3: #1f1f1f;
  --bg-3: #262626;
  --bg-4: #31024a;
  --bg-5: #7605b3;
  --bg-6: #67029e;
  --bg-7: #8400cc;
  --bg-8: #149e57;
  --bg-9: #17b363;

  /* tipografia */
  --tp-branco: #fff;
  --tp-1: #d9d9d9;
  --tp-2: #bfbfbf;
  --tp-3: #999999;
  --tp-4: #a407f8;
  --tp-5: #fff;
}
