

.titulo-g {
  font: 700 3rem "Roboto", sans-serif;
  text-align: center;
  color: var(--tp-1);
  margin-bottom: 40px;
  text-transform: uppercase;
}

.texto-regular {
  text-align: center;
  font: 400 1.5rem/2.5 "Roboto", sans-serif;
  color: var(--tp-3);
}

.texto-regular-neg {
  text-align: center;
  font: 700 1.5rem/2.5 "Roboto", sans-serif;
  color: var(--tp-3);
}

.texto-medio-neg {
  font: 700 1.5rem "Roboto", sans-serif;
  text-align: center;
  padding: 20px;
  color: var(--tp-branco);
}
